{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">Identifiant ou mot de passe incorrects</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Bienvenue sur le site, petite Pastèque  {{ app.user.pseudo }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <div class="container my-4">
        <div class="row">
            <div class="offset-3 col-6 my-3">
                <h1 class="h3 mb-3 font-weight-normal">SVP, Connectez- vous !</h1>
            </div>
        </div>
        <div class="row">
            <div class="offset-3 col-3 my-3">
                <label for="inputIdentifiant">Identifiant : </label>
                <input type="text" placeholder="adresse@mail ou pseudo" value="{{ last_username}}" name="identifiant" id="inputIdentifiant" class="form-control"  required autofocus>
            </div>
        </div>
        <div class="row">
            <div class="offset-3 col-3 my-3">
                <label for="inputPassword">Mot de passe : </label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            </div>
        </div>
        <div class="row">
            <div class="offset-3 col-3 my-3">
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}">
            </div>
        </div>

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html
        #}

        <div class="row">
            <div class="offset-4 col-2 mb-3">
                <button class="btn btn-lg btn-primary" type="submit">Connexion</button>
            </div>
            <div class="col-3 checkbox mb-3">
                 <input type="checkbox" name="_remember_me"> Se souvenir de moi
            </div>
        </div>
        <div class="row ">
            <div class="offset-6 col-3 checkbox mb-3">
                <a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié</a>
            </div>
        </div>
    </div>
</form>
    <div class="container col-4"><img style="width: 250px; height: 250px;" src="{{ asset('images/papa5.gif') }}" alt="lapapa1"></div>
{% endblock %}
