{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">Identifiant ou mot de passe incorrects</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Bienvenue sur le site, petite Pastèque  {{ app.user.pseudo }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
     <div class="container p-5">
         <div class="col-4">
            <h1 class="h3 mb-3 font-weight-normal">SVP, Connectez- vous !</h1>
            <label for="inputIdentifiant">Identifiant : </label>
            <input type="text" placeholder="adresse@mail ou pseudo" value="{{ last_username}}" name="identifiant" id="inputIdentifiant" class="form-control"  required autofocus>
            <label for="inputPassword">Mot de passe : </label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}">


        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html
        #}
            <div class="mx-auto">
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Se souvenir de moi
                    </label>
                </div>
                <div>
                    <button class="btn btn-lg btn-primary" type="submit">
                        Connexion
                    </button>
                </div>
            </div>
         </div>
     </div>
</form>

    <div class="container col-4"><img style="width: 250px; height: 250px;" src="{{ asset('images/papa5.gif') }}" alt="lapapa1"></div>

{% endblock %}
