{%  extends 'base.html.twig' %}

{% block title %}Sortie{% endblock %}

{% block body %}
    <div class="container" my-4>
        <div class="row">
            <div class="offset-3 col-6 mx-3 my-2">
                <h2>Créer une sortie</h2>

                {{ form_start(formSortie, {'attr':{id: 'formS'}}) }}

                {{ form_widget(formSortie) }}
                <label class="form-label"  for="campus">Campus : </label>
                <input class="form-control"  id="campus" value="{{ app.user.campus.nom }}" disabled>

                <label class="form-label col-3"  for="ville">Ville : </label>
                <select class="form-control" name="ville" id="ville" onchange="changerVille()">
                    // ici on alimente
                </select>
                <label class="form-label"  for="lieu">Lieu : </label>
                <select class="form-control" name="lieu" id="lieu" onchange="changerLieu()">
                    // ici on alimente
                </select>

                <!-- Button trigger modal-->
                <div>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#lieuModal">
                        + Ajouter un lieu
                    </button>
                </div>
                <!-- -->
                <label class="form-label"  for="rue">Rue : </label>
                <input class="form-control"  id="rue" disabled>

                <label class="form-label"  for="code">Code postal : </label>
                <input class="form-control"  id="code" disabled>

                <label class="form-label"  for="latitude">Latitude : </label>
                <input class="form-control"  id="latitude" disabled>

                <label class="form-label"  for="longitude">Longitude : </label>
                <input class="form-control"  id="longitude" disabled>
                {# J'ajoute un input de type hidden pour gérer mon bouton enregistrer #}
                <input type="hidden" id="enregistrer" name="enregistrer" value="1">

                {# J'ajoute un input de type hidden pour gérer mon bouton publier #}
                <input type="hidden" id="publier" name="publier" value="0">
                {{ form_end(formSortie) }}

                {# Je sors les boutons du formulaires pour pouvoir en gérer plusieurs #}
                <button onclick="enregistrer()" class="btn btn-secondary mt-3 me-2 mb-3">Enregistrer</button>
                <button onclick="publier()" class="btn btn-success mt-3 me-2 mb-3">Publier</button>
                <a href="{{ path('sortie_liste') }}" class="btn btn-dark mt-3 mb-3">Annuler</a>
            </div>
        </div>
    </div>
    <!-- Modal pour ajouter un lieu lors de la création d'une sortie -->
    <div class="modal fade" id="lieuModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {#  <form action="la route .." id="formP"> #}
                    <label for="nom" class="form-label col-3">Nom du lieu</label>
                    <input type="text" class="form-control col-3"><br>
                    <label for="rue" class="form-label col-3">Rue</label>
                    <input type="text" class="form-control col-3"><br>
                    <label for="cp" class="form-label col-3">Code postal</label>
                    <input type="text" class="form-control col-3"><br>
                    <label for="ville" class="form-label col-3">Ville</label>
                    <input type="text" class="form-control col-3"><br>
                    <label for="latitude" class="form-label col-3">Latitude</label>
                    <input type="text" class="form-control col-3"><br>
                    <label for="longitude" class="form-label col-3">Longitude</label>
                    <input type="text" class="form-control col-3"><br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="ajouterLieu()">Enregistrer</button>
                </div>
            </div>
        </div>
    </div>

    <script>

        /**
         * Fonction qui permet d'ajouter un lieu
         */
        function ajouterLieu()
        {
            console.log('ajouterlieu');
            document.querySelector('#formS').submit();
        }
        /**
         * Fonction qui permet d'enregistrer la sortie en BDD
         */
    function enregistrer(){
        console.log('enregistrement ok');
        document.querySelector('#formS').submit();
    }

        /**
         * Fonction qui permet de publier la sortie càd:
         * l'enregistrer en BDD avec l'état Ouverte
         */
    function publier(){
        console.log('publication OK');
        document.querySelector('#publier').value="1";
        document.querySelector('#formS').submit();
    }

    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!-- création d'un lien vers le fichier js qui regroupe les méthodes à appeler pour l'affichage-->
    <script src="{{ asset('javascript/ajouterSortie.js') }}">
    </script>


{% endblock %}