{% extends 'base.html.twig' %}

{% block body %}

    <h2>Découvrez tous les détails de la sortie  : {{ sortie.nom }} !</h2>
    <ul>
        <div>
            <li>Date et heure de la sortie : {{ sortie.dateHeureDebut|date ('d,M,Y H,i') }}</li>
            <li>Date limite d'inscription : {{ sortie.dateLimiteInscription|date ('d,M,Y') }}</li>
            <li>Nombre de places : {{ sortie.nbInscriptionsMax }}</li>
            <li>Durée : {{ sortie.duree }} minutes</li>
            <li>Description et infos : {{ sortie.infosSortie }}</li>
        </div>
        <div>
            <li>Campus : {{ sortie.campus.nom }}</li>
            <li>Lieu : {{ sortie.lieu.nom }}</li>
            <li>Rue : {{ sortie.lieu.rue }}</li>
            <li>Code postal : {{ sortie.lieu.ville.codePostal }}</li>
            <li>Latitude : {{ sortie.lieu.latitude }}</li>
            <li>Longitude : {{ sortie.lieu.longitude }}</li>

        </div>

    </ul>

    <h3>Liste des participants inscrits :</h3>
    <div>
        <table>
            <thead>
            <tr>
                <th>Pseudo</th>
                <th>Nom</th>
            </tr>
            </thead>
            <tbody>
            {% for p in sortie.participants %}
                <tr>
                    <td><a href="{{ path('participant_afficher', {'participant': p.id}) }}">{{ p.pseudo }}</a></td>
                    <td>{{ p.prenom }} {{ p.nom }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

{% endblock %}

{% block title %}

{% endblock %}

