{% extends 'base.html.twig' %}

{% block body %}
    <div class="container my-3 "id="date">
        <div class="row">
            <div class="offset-9 col-3 text-left">
                <p class="text-left">Date du jour : {{ date('now')|date('d - M - Y') }} </p>
            </div>
        </div>
        <div class="row">
            <div class="offset-8 col-4 text-left">
                <p class="text-left">Participant(e) : <strong>{{ app.user.prenom }} {{ app.user.nom }} </strong> - Surnom : <strong>{{ app.user.pseudo }} </strong></p>
            </div>
        </div>
    </div>
    <div id="filtre" class="container bg-success bg-gradient text-white ">
        <div class="row">
            <div class="col-4 my-3">
                <h2> Filtrer les sorties </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-3 my-3">
                <label for="campus">Campus : </label>
            </div>
            <div class="col-2 my-3">
                <select class="form-control" name="campus" id="campus" onchange="filtrer()">
                    // ici on alimente
                    <option value="0">Choisir un campus</option>
                    {% for camp in campus %}
                        <option value="{{ camp.id }}">{{ camp.nom }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="offset-1 col-4 mb-1">
                <input type="checkbox" id="critereOrga" onclick="filtrer()"> Sorties dont je suis l'organisateur/trice
            </div>
        </div>
        <div class="row">
            <div class="col-3 my-3">
                <label for="filtreNom">Le nom de la sortie contient :</label>
            </div>
            <div class="col-2 my-3">
                <input type="text" onkeyup="filtrer()"
                       id="filtreNom" class="form-control" placeholder="Rechercher">
            </div>
            <div class="offset-1 col-4 mb-1">
                <input type="checkbox" id="critereInscrit" onclick="filtrer()"> Sorties auxquelles je suis inscrit/e
            </div>
        </div>
        <div class="row">
            <div class="col-1 my-3">
                <label for="dateDebut">Entre</label>
            </div>
            <div class="col-2 my-3">
                <input type="date" onchange="filtrer()"
                       id="dateDebut" class="form-control">
            </div>
            <div class="col-1 my-3">
                <label for="dateFin">et</label>
            </div>
            <div class="col-2 my-3">
                <input type="date" onchange="filtrer()"
                       id="dateFin" class="form-control">
            </div>
            <div class="col-4 mb-1">
                <input type="checkbox" id="critereNinscrit" onclick="filtrer()"> Sorties auxquelles je ne suis pas inscrit/e
            </div>
        </div>
        <div class="row">
            <div class="offset-6 col-4 mb-1">
                <input type="checkbox" id="criterePassees" onclick="filtrer()"> Sorties passées
            </div>
        </div>

    </div>
    <div>
        <!-- Construction de la structure du tableau en html-->
        <table class="table table-striped bg-light">
           <!-- Affichage de l'entête du tableau en dur -->
            <thead>
                <tr>
                    <th>Nom de la sortie</th>
                    <th>Date de la sortie</th>
                    <th>Clôture des inscriptions</th>
                    <th>Inscrits/places</th>
                    <th>Etat</th>
                    <th>Inscrit</th>
                    <th>organisateur</th>
                    <!-- affichage de la dernière colonne sur l'équivalent de 3 td-->
                    <th colspan="3">Actions</th>
                </tr>
            </thead>
            <!-- le corps du tableau sera rempli avec du js ==>
            on lui met un id(=myTbody) qui permettra de le remplir avec un fichier json,
            grâce à un template-->
            <tbody id="myTbody">

            </tbody>
        </table>
        <!-- Création du bouton "Créer une sortie"-->
        <div class="container">
            <div class="row">
                <div class="offset-5 col-3">
                    <a href="{{ path('sortie_ajouter') }}" class="btn btn-success my-3 px-3 py-3 font-weight-bold">Créer une sortie</a>
                </div>
            </div>
        </div>
    </div>

    <!-- -------Création du template qui sera affiché par défaut si rien n'est reçu du json -------------------------->
    <template id="ligne">
        <tr>
            <td>0</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <!--dans la colonne suivante, affichage par défaut d'une icône v qui sera cachée en JS
             si l'app.user n'est pas inscrit à cette sortie
             C'est une balise <i> qui sera utilisée dans le JS pour venir remplacer son contenu-->
            <td>
                <i class="fas fa-check"></i> <!--<i class="fab fa-angellist"> </i><i class="fas fa-check"></i> -->
            </td>
            <td>
                <a href="#" class="organisateur"></a>
            </td>
            <td  colspan="3">
                <!-- lien affiché tout le temps, renvoie vers le détail de la sortie-->
                <a href="#" id="detail"><i class="fas fa-archway"></i>afficher</a>
                <!-- lien à afficher si app.user est inscrit à la sortie ET si date de la sortie non attente; cela décoche la colonne inscrit-->
                <a href="#" id="seDesister"><i class="fas fa-external-link-alt"></i>Se désister</a>
                <!-- lien à afficher si app.user est l'organisateur ET que la date de la sortie n'est pas atteinte-->
                <a href="#" id="modifier"><i class="fas fa-edit"></i>Modifier</a>
                <!-- lien à afficher si app.user n'est pas inscrit (donc si la croix n'est pas affiché dans la colonne inscrit)-->
                <a href="#" id="inscrire"><i class="fas fa-external-link-square-alt"></i>S'inscrire</a>
                <!-- lien à afficher si app.user est l'organisateur et que la sortie est en état créée(on a
                donc appuyé sur le bouton enregistrer dans le formulaire de création de la sortie-->
                <a href="#" id="publier" ><i class="fas fa-envelope-open-text"></i>Publier</a>
                <!-- lien à afficher si app.user est l'organisateur et si l'état est différent de activité en cours -->
                <a href="#" id="annuler"><i class="fas fa-cut"></i>Annuler</a>
            </td>
        </tr>
    </template>

    <!-- création d'un lien vers le fichier js qui regroupe les méthodes à appeler pour l'affichage-->
    <script src="{{ asset('javascript/listeSortie.js') }}"></script>
{% endblock %}
